<%= form_for @role, :html => { :class => "pure-form pure-form-aligned" } do |f| %>
  <fieldset>
    <div class="pure-control-group">
      <%= f.label :name %>
      <%= f.text_field :name, required: true %>
    </div>
    <div class="pure-control-group">
      <%= f.label :description %>
      <%= f.text_area :description, rows: 5, cols: 60 %>
    </div>
    <div class="pure-controls">
      <%= f.label :active, class: 'pure-checkbox' do %>
        <%= f.check_box :active %>
        Active
      <% end %>
    </div>

    <h3 class="panel-title">Permissions</h3>

    <div id="acl-tree">
      <%= nested_li(@acls) do |acl| %>
        <label class="pure-checkbox">
          <%= check_box_tag('role[acl_ids][]', acl.id, @role.included?(acl)) %>
          <%= acl.name %>
        </label>
      <% end %>
    </div>

    <%= f.submit nil, class: 'pure-button pure-button-primary' %>
    <%= link_to 'Cancel', roles_path, class: 'button-error pure-button' %>
  </fieldset>
<% end %>
