
<div class="posts">
<h1 class="content-subhead">Roles</h1>

<% @roles.each do |role| %>
  <section class="post">
    <header class="post-header">
      <%= image_tag "#{role.active}.png", class: 'post-avatar', height: '48', width: '48' %>

      <h2 class="post-title"><%= role.name %></h2>
      <p class="post-meta">
        <%= link_to 'Edit role', acl_manager.edit_role_path(role) %> :: active? <a class="post-category post-category-design" href="#"><%= role.active? %></a>
      </p>
    </header>

    <div class="post-description">
      <p><%= role.description %></p>
    </div>
  </section>
<% end %>
</div>

<%= link_to 'Add new role', acl_manager.new_role_path, class: 'pure-button' %>
