
<div class="posts">
<h1 class="content-subhead"><%= AclManager::Role.model_name.human(count: :other) %></h1>

<% @roles.each do |role| %>
  <section class="post">
    <header class="post-header">
      <%= image_tag "acl_manager/#{role.active}.png", class: 'post-avatar', height: '48', width: '48' %>

      <h2 class="post-title"><%= role.name %></h2>
      <p class="post-meta">
        <%= link_to t('commands.edit_model', model: role.model_name.human), acl_manager.edit_role_path(role) %> :: <%= t('.active') %> <a class="post-category <%= role.active %>" href="#"><%= role.active? %></a>
      </p>
    </header>

    <div class="post-description">
      <p><%= role.description %></p>
    </div>
  </section>
<% end %>
</div>
<%= link_to t('commands.new_model', model: AclManager::Role.model_name.human), acl_manager.new_role_path, class: 'pure-button' %>
