<div class="posts">
  <h1 class="content-subhead">
    <%= AclManager::Acl.model_name.human(count: :other) %> ::
    <%= link_to t('commands.new_model', model: AclManager::Acl.model_name.human), new_acl_path %> ::
    <%= link_to t('.build_all'), build_all_acls_path %>
  </h1>

  <table class="pure-table pure-table pure-table-bordered">
    <thead>
      <tr>
        <th>id</th>
        <th>parent_id</th>
        <th>namespace</th>
        <th>name</th>
        <th>path</th>
        <th>helper</th>
      </tr>
    </thead>
    <tbody>
      <% @acls.each do |acl| %>
        <tr>
          <td><%= acl.id %></td>
          <td><%= acl.parent_id %></td>
          <td><%= acl.namespace %></td>
          <td><%= acl.name %></td>
          <td><%= acl.verb %> <%= acl.path %></td>
          <td><%= acl.helper %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
